.container > form {
  display: flex;
  padding: 10px;
}
.tweet-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}
.text {
  border: none;
  outline: none;
  height: 28px;
  width: 100%;
}
.line {
  box-sizing: content-box;
  height: 5px;
  overflow: visible;
  width: 100%;
  background-color: black;
}

button {
  display: flex;
  justify-content: flex-start;
  background-color: blue;
}
.submit {
  display:flex;
  justify-content: space-between;
  width: 100%;
  font-family: 'Bungee', cursive;
  
}
.submit button {
  color:white;
}
article{
  border: black;
  border-width: 2px;
  border-style:solid;
  padding: 22px;
  background-color: white;
  box-shadow: honeydew;
}
article:hover {
  box-shadow: 0 0 21px rgba(159, 42, 42, 0.2); 
}
/*  */

header.user {
  background-color: white;
  margin-bottom:20px;
  display: flex;
  justify-content: space-between;
}


.article-tweet {
  padding:25px;
  border:none;
  outline:none;
  height:27px;
}
.article-line {
  box-sizing: content-box;
  height: 3px;
  overflow: visible;
  width: 100%;
  background-color: black;
}
footer {
  font-size: 20px;
  display: flex;
  justify-content: space-between;

}
.fa-solid {
  opacity:50%;
}
.fa-solid:hover {
  opacity: 100%;
  color: rgb(193, 110, 8);
}